.App {
  text-align: center;
}

.App .ipod-frame {
  width: 300px;
  height: 500px;
  background-color: rgb(235, 166, 166);
  border-radius: 20px;
  padding: 25px 5px;
  box-shadow: inset 0px -3px 15px 0px black;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.4)));
}

.list {
  list-style: none;
  padding: 0;
  text-align: justify;
  background: #bcd1fab8;
  /* margin : 10% 15%; */
}

.list-items {
  padding: 15px;
  box-shadow: 0 0 1px 0px black;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.active {
  background-color: #5a64f0b5;
  border: 2px white solid;
}

/*add hovering effect on wheel*/
#wheel:hover {
  cursor: pointer;
}
